<div style="padding:10px 15px;" ng-controller="Monitor.Preview.Index.Ctrl" ng-container="{}">
   <div style="border-bottom:3px solid #ddd;padding-top:10px;" ng-style="" ng-container="{height:70}">
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-cubes"></i>
         </div>
         <div style="height:50px;float:left;">
            <div style="font-size:90%;" ng-click="moduleInfo()">集群</div>
            <div class="Ellipsis" style="font-size:140%;color:#666;width:160px;"><a href="#/Deploy/Index" class="linkButton">{{clusterName}}</a></div>
         </div>
      </div>
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-sitemap"></i>
         </div>
         <div style="height:50px;float:left;">
            <div style="font-size:90%;">&nbsp;</div>
            <div class="Ellipsis" style="font-size:120%;width:80px;font-weight:bold;"><a href="#/Monitor/SDB-Overview/Index" class="linkButton">分区组</a></div>
         </div>
      </div>
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-laptop"></i>
         </div>
         <div class="Ellipsis" style="height:50px;max-width:200px;float:left;">
            <div style="font-size:90%;">&nbsp;</div>
            <div class="Ellipsis" style="font-size:120%;width:160px;font-weight:bold;"><a href="#/Monitor/Host-List/Index" class="linkButton">主机列表</a></div>
         </div>
      </div>
   </div>
   <div class="well Ellipsis" style="margin-top:10px;">
      <i class="fa fa-circle" style="color:#00CC66;"></i>
      <span style="font-weight:bold;color:#006699;">{{moduleName}}</span>
   </div>
   <div ng-container="{offsetY:-140,marginTop:10,marginBottom:10}">
      <div style="min-height:206px;font-size:90%;" ng-container="{height:'70%',marginTop:10}">
         <!--主机信息-->
         <div style="float:left;" ng-container="{width:360,offsetY:-10}">
            <div style="padding:0 10px 10px 0;font-weight:bold;">主机信息</div>
            <div style="padding:10px;border:1px solid #ddd;overflow-y:auto;" ng-container="{offsetY:-27}">
               <div style="height:30px;">
                  <div style="float:left;width:140px;height:30px;color:#808080;font-weight:bold;">主机数</div>
                  <div style="float:left;"><a href="#/Monitor/Host-List/Index" class="linkButton">{{HostList.length}}</a></div>
                  <div class="clear-float"></div>
               </div>
               <div style="height:30px;">
                  <div style="float:left;width:140px;height:30px;color:#808080;font-weight:bold;">磁盘数</div>
                  <div style="float:left;">{{DiskNum}}</div>
                  <div class="clear-float"></div>
               </div>
               <div style="height:40px;">
                  <div style="float:left;width:140px;height:25px;color:#808080;font-weight:bold;">CPU使用</div>
                  <div style="float:left;margin-bottom:15px;">
                     <div style="width:180px;height:40px" progress-bar="charts.Host.CPU"></div>
                  </div>
                  <div class="clear-float"></div>
               </div>
               <div style="height:55px;">
                  <div style="float:left;width:140px;height:25px;color:#808080;font-weight:bold;">内存使用</div>
                  <div style="float:left;margin-bottom:15px;">
                     <div style="width:180px;height:40px" progress-bar="charts.Host.Memory"></div>
                     <div class="clear-float"></div>
                  </div>
                  <div class="clear-float"></div>
               </div>
               <div style="height:55px;">
                  <div style="float:left;width:140px;height:25px;color:#808080;font-weight:bold;">磁盘使用</div>
                  <div style="float:left;margin-bottom:15px;">
                     <div style="width:180px;height:40px" progress-bar="charts.Host.Disk"></div>
                  </div>
                  <div class="clear-float"></div>
               </div>
            </div>
         </div>
         <!--业务信息-->
         <div style="float:left;" ng-container="{offsetX:-370,offsetY:-10,marginLeft:10}">
            <div style="padding:0 10px 10px 0;font-weight:bold;">业务信息</div>
            <div style="padding:10px;border:1px solid #ddd;overflow-y:auto;" ng-container="{offsetY:-27}">
               <div style="float:left;width:250px;">
                  <div style="height:28px;">
                     <div style="float:left;width:140px;height:28px;color:#808080;font-weight:bold;">数据库版本</div>
                     <div style="float:left;">{{moduleInfo['version']}}</div>
                     <div class="clear-float"></div>
                  </div>
                  <div style="height:28px;">
                     <div style="float:left;width:140px;height:28px;color:#808080;font-weight:bold;">会话数</div>
                     <div style="float:left;"><a href="#/Monitor/SDB-Overview/Session" class="linkButton">{{moduleInfo['sessions']}}</a></div>
                     <div class="clear-float"></div>
                  </div>
                  <div style="height:28px;">
                     <div style="float:left;width:140px;height:28px;color:#808080;font-weight:bold;">域</div>
                     <div style="float:left;"><a href="#/Monitor/SDB-Overview/Domain" class="linkButton">{{moduleInfo['domains']}}</a></div>
                     <div class="clear-float"></div>
                  </div>
                  <div style="height:28px;">
                     <div style="float:left;width:140px;height:28px;color:#808080;font-weight:bold;">分区组数</div>
                     <div style="float:left;"><a href="#/Monitor/SDB-Overview/Index" class="linkButton">{{moduleInfo['groups']}}</a></div>
                     <div class="clear-float"></div>
                  </div>
                  <div style="height:28px;">
                     <div style="float:left;width:140px;height:28px;color:#808080;font-weight:bold;">节点数</div>
                     <div style="float:left;"><a href="#/Monitor/SDB-Overview/Node" class="linkButton">{{moduleInfo['nodes']}}</a></div>
                     <div class="clear-float"></div>
                  </div>
                  <div style="height:28px;">
                     <div style="float:left;width:140px;height:28px;color:#808080;font-weight:bold;">集合数</div>
                     <div style="float:left;"><a href="#/Data/SDB-Database/Index" class="linkButton">{{moduleInfo['cl']}}</a></div>
                     <div class="clear-float"></div>
                  </div>
                  <div style="height:28px;">
                     <div style="float:left;width:140px;height:28px;color:#808080;font-weight:bold;">记录数</div>
                     <div style="float:left;"><a href="#/Data/SDB-Database/Index" class="linkButton">{{moduleInfo['records']}}</a></div>
                     <div class="clear-float"></div>
                  </div>
                  <div style="height:28px;">
                     <div style="float:left;width:140px;height:28px;color:#808080;font-weight:bold;">lob数</div>
                     <div style="float:left;"><a href="#/Data/SDB-Database/Index" class="linkButton">{{moduleInfo['lobs']}}</a></div>
                     <div class="clear-float"></div>
                  </div>
               </div>
               <!--图表选择-->
               <div style="min-width:320px;float:left;" ng-container="{height:'90%',offsetX:-305}">
                  <div style="padding-left:15px;float:right;">
                     <button class="btn btn-default btn-lg" dropdown-menu="DropdownMenu">
                        {{chartName}}
                        <span class="caret caret-bottom"></span>
                     </button>
                  </div>
                  <div style="min-width:320px;max-width:940px;min-height:220px;max-height:350px;" ng-container="{}" create-chart="charts.Module"></div>
               </div>
            </div>
         </div>
         <div class="clear-float"></div>
      </div>
      <div style="position:relative;border:1px solid #C8D2DC;overflow-y:auto;" scroll-bottom ng-container="{marginTop:10,height:'30%',offsetY:-10}">
         <div class="alarm alarm-danger" ng-repeat="line in result track by $index">
            <i class="fa fa-exclamation-circle" style="color:#D1554B;font-size:120%;padding-right:15px;"></i>
               {{line}}
         </div>
         <div class="alarm alarm-warning">
            <i class="fa fa-question-circle" style="color:#F9A937;padding-right:15px;font-size:120%;"></i>
               2016-05-21 10:04:55 [warning] - 主机Ubuntu-1204磁盘使用率超过95%
         </div>
      </div>
   </div>
   
</div>   

<!--
   业务 － 主机 －  ip  

总空间、分区组

硬件 ： CPU 、内存、硬盘、内存 

/* 业务状态：数据库  集合空间  集合  节点  总记录数 索引 副本8 */
-->