<div id="ModuleBox" style="overflow-y:auto;overflow-x:hidden;+zoom:1;+position:relative;" ng-controller="Data.Overview.Index.Ctrl"  >
   <div id="DataList" style="padding:10px 0 0 0;">
      <div id="DataBoxList" style="+zoom:1;+position:relative;">
         <div ng-repeat="moduleInfo in QueryModule track by $index" create-response="{len:QueryModule.length,index:$index,min:660,max:1980}">
            <div ng-class="moduleInfo.color" class="DataListBox">
               <div class="DataTitle">
                  <span class="linkButton ModuleName" ng-click="gotoDatabase($index)">{{moduleInfo.BusinessName}}</span> (<span class="ModuleType">{{moduleInfo.BusinessType}} - {{moduleInfo.WebDeployMod}}</span>) <span class="status success">{{autoLanguage("良好")}}</span>
               </div>
               <div class="DataSubTitle">{{autoLanguage("业务运行正常")}}</div>
               <div class="DataSubTitle" ng-bind="moduleInfo.detail"></div>
               <div style="+zoom:1;+position:relative;">
                  <div style="height:220px;width:400px;float:left;" create-record-chart></div>
                  <div style="height:200px;width:200px;float:left;" para="moduleInfo.info" create-cylinder></div>
                  <div class="clear-float"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>