		<div class="row">

			<div class="col-md-2">
				<div class="panel panel-default">
					<div class="panel-heading">列表</div>
					<div class="panel-body" id="left_list" style="overflow:auto;">
						<div id="pictree" style="font-size:15px;"></div>
					</div>
				</div>
			</div>

  			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-heading">窗口</div>
					<div class="panel-body" id="right_context" style="overflow:auto;">
						<div id="context"></div>
					</div>
				</div>
			</div>

		</div>

<script type="text/javascript">

d = new dTree('d');

d.add(0,-1,'数据库');
d.add(1,0,'foo11111111111111111111111111111111111111111111111111111111111111111111111111111','ajax2send("context","get","index.php","");');
d.add(2,1,'bar','example01.html');
d.add(3,0,'foo1','example01.html');
d.add(4,3,'bar1','example01.html');

document.getElementById("pictree").innerHTML = d ;
d.openAll();

var strHeight = (window.screen.availHeight-270) + "px" ;
document.getElementById("left_list").style.height = strHeight ;
document.getElementById("right_context").style.height = strHeight ;

</script>