<form class="Form">
   <div class="FormGroup" ng-repeat="inputInfo in Setting.inputList track by $index">
      <table class="table">
         <tbody>
            <tr ng-if="inputInfo.type == 'group'">
               <td colspan="2">
                  <div class="FormName">
                     <label><span class="error" ng-if="inputInfo.required == true">*</span> {{inputInfo.webName}}</label> <i ng-if="inputInfo.desc" class="fa fa-info-circle" ng-attr="{'data-desc':inputInfo.desc}"></i>
                  </div>
                  <div class="FormInput" ng-include="'./app/template/Component/Form_child.html'"></div>
                  <span class="FormHelp error">{{inputInfo.error}}</span>
               </td>
            </tr>
            <tr ng-if="inputInfo.type != 'group'">
               <td style="width:130px;" ng-style="{true:{'vertical-align':'middle'},false:{'vertical-align':'top','padding-top':'8px'}}[inputInfo.type!='list']">
                  <div class="FormName">
                     <label><span class="error" ng-if="inputInfo.required == true">*</span> {{inputInfo.webName}}</label> <i ng-if="inputInfo.desc" class="fa fa-info-circle" ng-attr="{'data-desc':inputInfo.desc}"></i>
                  </div>
               </td>
               <td>
                  <div class="FormInput" ng-include="'./app/template/Component/Form_child.html'"></div>
               </td>
            </tr>
            <tr>
               <td colspan="2" class="error">{{inputInfo.error}}</td>
            </tr>
         </tbody>
      </table>
   </div>
</form>