<?xml version="1.0" encoding="utf-8" ?>
<TestConfig>
  <UserName></UserName>
  <Password></Password>

  <Coord>
    <Address>192.168.20.42:11810</Address>
  </Coord>

  <Catalog>
    <Address>192.168.20.42:11800</Address>
  </Catalog>

  <Data>
    <Address>192.168.20.42:11830</Address>
  </Data>

  <Groups>
    <Group>
      <GroupName>testgroup</GroupName>
      <Nodes>
        <Node>
          <HostName>susetzb</HostName>
          <Port>40000</Port>
          <DBPath>/opt/sequoiadb/database/data/40000</DBPath>
          <DiagLevel>5</DiagLevel>
        </Node>
      </Nodes>
    </Group>
    <Group>
      <GroupName>testgroup1</GroupName>
      <Nodes>
        <Node>
          <HostName>susetzb</HostName>
          <Port>45000</Port>
          <DBPath>/opt/sequoiadb/database/data/45000</DBPath>
          <DiagLevel>5</DiagLevel>
        </Node>
        <Node>
          <HostName>susetzb</HostName>
          <Port>46000</Port>
          <DBPath>/opt/sequoiadb/database/data/46000</DBPath>
          <DiagLevel>5</DiagLevel>
        </Node>
        <Node>
          <HostName>susetzb</HostName>
          <Port>47000</Port>
          <DBPath>/opt/sequoiadb/database/data/47000</DBPath>
          <DiagLevel>5</DiagLevel>
        </Node>
      </Nodes>
    </Group>
    <Group>
      <GroupName>testgroup2</GroupName>
      <Nodes>
        <Node>
          <HostName>susetzb</HostName>
          <Port>55000</Port>
          <DBPath>/opt/sequoiadb/database/data/55000</DBPath>
          <DiagLevel>5</DiagLevel>
        </Node>
        <Node>
          <HostName>susetzb</HostName>
          <Port>56000</Port>
          <DBPath>/opt/sequoiadb/database/data/56000</DBPath>
          <DiagLevel>5</DiagLevel>
        </Node>
        <Node>
          <HostName>susetzb</HostName>
          <Port>57000</Port>
          <DBPath>/opt/sequoiadb/database/data/57000</DBPath>
          <DiagLevel>5</DiagLevel>
        </Node>
      </Nodes>
    </Group>
  </Groups>

</TestConfig>

<!--
<?xml version="1.0" encoding="utf-8" ?>
<TestConfig>
  <UserName></UserName>
  <Password></Password>

  <Coord>
    <Address>192.168.30.165:11810</Address>
  </Coord>

  <Catalog>
    <Address>192.168.30.165:30000</Address>
  </Catalog>

  <Data>
    <Address>192.168.30.165:25100</Address>
  </Data>

  <Groups>
    <Group>
      <GroupName>testgroup</GroupName>
      <Nodes>
        <Node>
          <HostName>rhel</HostName>
          <Port>40000</Port>
          <DBPath>/opt/sequoiadb/temp/data/40000</DBPath>
          <DiagLevel>5</DiagLevel>
        </Node>
      </Nodes>
    </Group>
    <Group>
      <GroupName>testgroup1</GroupName>
      <Nodes>
        <Node>
          <HostName>rhel</HostName>
          <Port>45000</Port>
          <DBPath>/opt/sequoiadb/temp/data/45000</DBPath>
          <DiagLevel>5</DiagLevel>
        </Node>
        <Node>
          <HostName>rhel</HostName>
          <Port>46000</Port>
          <DBPath>/opt/sequoiadb/temp/data/46000</DBPath>
          <DiagLevel>5</DiagLevel>
        </Node>
        <Node>
          <HostName>rhel</HostName>
          <Port>47000</Port>
          <DBPath>/opt/sequoiadb/temp/data/47000</DBPath>
          <DiagLevel>5</DiagLevel>
        </Node>
      </Nodes>
    </Group>
    <Group>
      <GroupName>testgroup2</GroupName>
      <Nodes>
        <Node>
          <HostName>rhel</HostName>
          <Port>55000</Port>
          <DBPath>/opt/sequoiadb/temp/data/55000</DBPath>
          <DiagLevel>5</DiagLevel>
        </Node>
        <Node>
          <HostName>rhel</HostName>
          <Port>56000</Port>
          <DBPath>/opt/sequoiadb/temp/data/56000</DBPath>
          <DiagLevel>5</DiagLevel>
        </Node>
        <Node>
          <HostName>rhel</HostName>
          <Port>57000</Port>
          <DBPath>/opt/sequoiadb/temp/data/57000</DBPath>
          <DiagLevel>5</DiagLevel>
        </Node>
      </Nodes>
    </Group>
  </Groups>

</TestConfig>
  -->