.div_frame_1
{
	border-color:#DFDFDF;border-style:solid;border-width:1px;
}
.div_frame_title_1
{
	background-color:#d5d5d5;border-bottom-color:#DFDFDF;border-bottom-style:solid;border-bottom-width:1px;height:10px;padding:10px;color:#333;
}
.div_frame_context_1
{
	margin-top:1px;background-color:#F5F5F5;padding:10px;
}

.div_frame_context_2
{
	margin-top:1px;margin-bottom:1px;background-color:#F5F5F5;padding:10px;
}

.div_frame_bottom_2
{
	background-color:#F1F1F1;border-top-color:#DFDFDF;border-top-style:solid;border-top-width:1px;height:10px;padding:10px;
}

.div_frame_context_3
{
	border-color:#F00;border-style:solid;border-width:3px;background-color:#F9F9F9;padding:10px;color:#F00;font-size:14px;
}