body{color:#666; font-family:"宋体","Tahoma","arial"; font-size:12px; margin:0 auto; padding:0;}
ul,h1,h2,h3,h4,h5,h6,p,li{margin:0;padding:0;list-style:none;}
form{margin:0;padding:0;}
img{border:0;}
a{text-decoration:none; color:#3e4145;}
a:hover{color:#0072E3;}
h3.protitle{font-size:14px;color:#003a75;line-height:150%;}
.clear{ clear:both; height:0; line-height:0; font-size:0;}
.line{height:7px;line-height:0;font-size:0;display:block;}
.pd5{padding:5px;}
.mgt20{margin-top:20px;}
.lh{line-height:150%;}
.red{color:red;}
.hr1{height:1px;border-top:1px solid #d3d7d4;}
.hr2{height:1px;border-top:3px solid #9D9D9D; width:100px; float:left; }
/* pathlink */
.pathlink{text-decoration:none;color:#333333;font-weight:bold;}
.pathlink:hover{ color:#FF9224;}
 /* topbutton */
.topbutton{color:#46A3FF;font-weight:bold;background:#f5f5f5;border:1px solid #dedede;border-bottom:none;height:21px;float:left;margin-left:4px;padding:10px 10px 0px 10px;}
.topbutton:hover{color:#0072E3;background:#D2E9FF;border:1px solid #ECF5FF;border-bottom:none;float:left;margin-left:4px;padding:10px 10px 0px 10px;}
.tbcurrent{color:#0072E3;font-weight:bold;background:#D2E9FF;border:1px solid #dedede;border-bottom:none;height:21px;float:left;margin-left:4px;padding:10px 10px 0px 10px;}
/* left.topbutton */
.left_topbutton{font-weight:bold;border:1px solid #999;height:21px;border-bottom:none;float:left;margin-left:4px;padding:5px 5px 0px 5px;}
.left_topbutton:hover{color:#000;background:#ADADAD;border:1px solid #999;border-bottom:none;float:left;margin-left:4px;padding:5px 5px 0px 5px;}
.ltbcurrent{color:#000;font-weight:bold;background:#ADADAD;border:1px solid #999;border-bottom:none;height:21px;float:left;margin-left:4px;padding:5px 5px 0px 5px;}
.ltbcurrent:hover{color:#000;}
/* toptool text */	
.title{color:#fff;}
.title:hover{}
.hello{color:#fff;}
.hello:hover{}
.achoice{color:#fff;}
.achoice:hover{}
/* left.list */

.emenu_nav{
	width:170px;
	float:left;
	text-align:left;
	background:#E0E0E0;
	}
.par{text-decoration:none;padding-left:10px;margin-left:0px;}
.pson{border-left:0px #999 dashed;padding-left:10px;}	
.pcurrent{background:url(../images/.png);padding-left:10px;}
.level1{
	display:block;
    color:#fff;
	text-decoration:none;
	border:0px #000 solid;
	background:#ddd;
	margin-bottom:1px;
    padding-left:10px;
    }
.level1:hover{
	display:block;
    color:#000;
	text-decoration:none;
	border:0px #000 solid;
	background:#ddd;
	margin-bottom:1px;
    padding-left:10px;
    }
.level2{
	display:block;
    color:#fff;
	text-decoration:none;
	border:0px #000 solid;
	background:#ddd;
	margin-bottom:2px;
	padding-left:15px;
    }
.level2:hover{
	display:block;
    color:#000;
	text-decoration:none;
	border:0px #000 solid;
	background:#ddd;
	margin-bottom:2px;
	padding-left:15px;
    }
.level3{
	display:block;
    color:#8E8E8E;
	text-decoration:none;
	border:0px #000 solid;
	background:#ddd;
	margin-bottom:2px;
	padding-left:15px;
    }
.level3:hover{
	display:block;
    color:#000;
	text-decoration:none;
	border:0px #000 solid;
	background:#ddd;
	margin-bottom:2px;
	padding-left:15px;
    }
/*header*/
.header{ height:30px; background:url(top_bg.jpg) repeat-x; padding:7px 0 0 0;}
.header .logo{width:1300px; margin:0 auto; padding:0 0 0 13px;height:82px;overflow:hidden; }
.header .logo h1{font-size:26px;}

.header .logo span{font-size:12px; float:right; color:#1381ce; margin:-50px auto;}
.header .logo span a{ color:#3e4145; margin:0 5px;}
.header .logo span a:hover{ color:#FF9224; margin:0 5px;}


/* toptool */
    #topNavWrapper {
    width: 100%;
    text-align: left;
    height: 31px;
    margin: 0px auto 0px auto;
    z-index:100;
    _position: relative ;
    _top:0px;
    }
    #topNav {
    width: 100%;
    float: left;
    display: block;
    z-index: 100;
    overflow: visible;
    position: fixed;
    top: 0px; /* position fixed for IE6 */
    _position: absolute;
    _top: expression(documentElement.scrollTop + "px");
    
	background:#333333;
    background-repeat: no-repeat;
    background-position: right;
    height: 31px;
    }
.toptool_left{float:left;padding:6px 0 0 20px;}
.toptool_right{float:right;padding:6px 100px 0 0;}

/* path */
.path{height:20px; border:0px solid #999; margin:20px auto;padding-left:20px; width:960px;  text-align:left;float:left;}
/* topbutton */
.topbutton_div{border-bottom:2px solid #dedede; margin:10px auto;padding-left:40px; width:600px;  text-align:left;float:left;}

/* menu */
.menu{margin:0 auto; background: #999999; }
.menu_search{float:left; margin:0px 0px 10px 0px; background: #999;}
ul.menu{width:930px; height:37px; margin:10PX auto; padding:0 0 0 20px;list-style:none;}
ul.menu li{float:left;}
ul.menu li a{ font-family:宋体, Helvetica, sans-serif;font-size:16px; font-weight:bold;width:80px; height:24px; display:block; text-align:center; color:#3e4145; background:url(menu_bg02.jpg) no-repeat; padding:0px 0 0 0;}
ul.menu li a:hover{ height:24px; color:#5e7c85; font-weight:bold; background:url(menu_bg01.jpg) no-repeat;}
ul.menu .li_a a{ height:30px; color:#1381ce; font-weight:bold; background:url(menu_bg01.jpg) no-repeat;}
	
/* mbody */
.mbody{ border:0px solid #999; text-align:center; margin:10px 10px 10px 10px; width: 90%; float:left;}
.mbody .left{height:400px; border-right:1px solid #999; width:18%; margin:10px 10px 10px 10px;float:left;}
.mbody .left ul {width:98%;margin-top:0px;}
.mbody .left ul  li {border-bottom:1px solid #999; height:35px;line-height:35px; padding-top:0px;font-size:14px;  background-color:#F0F0F0;}
.mbody .left ul  li:hover {border-bottom:1px solid #999; height:35px;line-height:35px; padding-top:0px; background-color:#d0d0d0;}

/* mbody.left */
    dl { width: 98%; }
    dl,dd { margin: 0; }
    dt { background-color:#7B7B7B; background-repeat:no-repeat; background-position:5px 13px; font-size: 18px; padding: 5px 5px 5px 20px; margin: 2px; height:29px; line-height:28px; }
    dt a { color: #fff;text-decoration:none; }
	dt a:hover { color: #fff;text-decoration:none; }
    dd a { color: #000; }
    ul{ list-style: none; padding:-10px 5px 5px 20px; margin:0; }
    li{ line-height:24px;}
    .bg{ background-position:5px -16px;}



/* mbody.right */
.mbody .right{ border:0px solid #999; width:78%; margin:0px 0px 0px 0px; float:left;}
.mbody .right .right_content{font-size:16px;line-height:28px;padding:0px 10px 30px 10px; text-align:left;}
	
/* admin.left */
.abody{width:1300px;margin:10px auto;}
.abody_width{height:500px; border:0px solid #999;  text-align:center;}
.aleft{ border:0px solid #999; width:100px; margin:10px 0px 0px 0px;padding:10px 10px 10px 10px;float:left;}
.aright{height:500px; border:2px solid #999; width:1050px; margin:10px 10px 10px 10px; float:left;}


/* body1 */
.box1{height:300px; border:2px solid #999; margin:20px auto; width:960px; text-align:center;}
.box2{height:200px; border:0px solid #999; text-align:center; margin:0 auto; width: 960px;}
.box3{height:280px; border:2px solid #999; width:78%; margin:10px 10px 10px 10px; float:left;}
.box4{height:280px; border:2px solid #999; width:16%; margin:10px 10px 10px 10px;float:left;}
.box5{height:280px; border:2px solid #999; width:16%; margin:10px 10px 10px 10px;float:left;}

/* none */
.none {display:none;}

/* tag */
.tabcss{border:0px solid #999; margin:20px auto;padding-left:20px;width:100%;font-size:16px;line-height:28px; float:left;text-align:left;}
*{ margin:0; padding:0;}
ul{ list-style:none}
#tabMenus{ width:80%; margin:10px auto 0 6px; float:left;overflow:hidden; border:#ccc solid 0px; border-bottom:none;}
#tabMenus li{ float:left; width:20%; height:25px; line-height:25px; background:#ccc; text-align:center;border:#ccc solid 5px;border-bottom:none;}
#tabMenus li a{ display:block; height:100%; color:#000000; text-decoration:none}
#tabMenus li.current{background:#fff;}
#tabMenus li.usual{background:#ccc;border:#ccc solid 1px; border-bottom:none;border-top:none;}
#tabCons{clear:both;width:98%; margin:0 auto; overflow:hidden; border:#ccc solid 1px; margin-bottom:0px; float:left;text-align:left;}
#tabCons .con{height:100%;  float:left; padding:10px; width:98%; display:none;margin:0px 0px 20px 0px;}


/* bottom */
.bottom{ margin:30px auto;}
.bottom_ac { margin:0 auto; height:20px; background-color:#fff; text-align:center;  line-height:23px; font:宋体, Helvetica, sans-serif; font-size:13px;padding:5px 0;}
.copyright{height:20px; border-top:1px solid #d0d0d0; margin:10px auto; padding-top:10px;min-width:1300px; text-align:center;}
.copyright .state{ margin-top:0px; height:70px; text-align:center;line-height:20px; font:宋体, Helvetica, sans-serif; padding:5px 0;}

/* totop */
.to-top{padding-top:30px;}
