<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--this xml is for ci, please don't modify it-->
<!--testcase for function test, which can be excuted concurrently-->

<suite name="tddjava" verbose="1" junit="true">
   <test name="lob" >
      <packages>
         <package name="com.sequoiadb.test.bug"/>
         <!--package name="com.sequoiadb.test.cl"/-->
         <package name="com.sequoiadb.test.cs"/>
         <package name="com.sequoiadb.test.cursor"/>
         <package name="com.sequoiadb.test.datasource"/>
         <package name="com.sequoiadb.test.db"/>
         <package name="com.sequoiadb.test.decimal"/>
         <package name="com.sequoiadb.test.domain"/>
         <package name="com.sequoiadb.test.lob"/>
         <package name="com.sequoiadb.test.misc"/>
         <!-- never run the follow test case in CI -->
         <!-- <package name="com.sequoiadb.test.dc"/> -->
         <!-- <package name="com.sequoiadb.test.node"/> -->
         <!-- <package name="com.sequoiadb.test.rg"/> -->
      </packages>
   </test> 
   <test name="testcl">
         <classes>
            <class name="com.sequoiadb.test.cl.CLAggregate"/>
            <class name="com.sequoiadb.test.cl.CLBulkInsert"/>
            <class name="com.sequoiadb.test.cl.CLGetQueryMeta"/>
            <class name="com.sequoiadb.test.cl.CLInsert"/>
            <class name="com.sequoiadb.test.cl.CLInsertMultiThread"/>
            <class name="com.sequoiadb.test.cl.CLInsertNest"/>
            <class name="com.sequoiadb.test.cl.CLQuery"/>
            <class name="com.sequoiadb.test.cl.CLSaveAndAs"/>
            <class name="com.sequoiadb.test.cl.CLSaveWithListArg"/>
            <class name="com.sequoiadb.test.cl.CLSelectQuery"/>
            <class name="com.sequoiadb.test.cl.CLSplit"/>
            <class name="com.sequoiadb.test.cl.CreateGetDropIndex"/>
            <class name="com.sequoiadb.test.cl.DBCollectionTest"/>
            <class name="com.sequoiadb.test.cl.SdbConditionAndSelectorQuery"/>
            <class name="com.sequoiadb.test.cl.SdbUpdate"/>
            <!--open this cl test after chage HaveMapPropClass equals-->
            <!--class name="com.sequoiadb.test.cl.testCollectionSaveAndAs"/-->
            <class name="com.sequoiadb.test.cl.TestCreateIdIndex"/>
            <class name="com.sequoiadb.test.cl.TestFindAndModify"/>
            <class name="com.sequoiadb.test.cl.TestIndex"/>
            <class name="com.sequoiadb.test.cl.testMultiThreadInsertAndQuery"/>
            <class name="com.sequoiadb.test.cl.testMultiThreadInsertAndUpdate"/>
            <class name="com.sequoiadb.test.cl.testMutilThreadUpdate"/>
            <class name="com.sequoiadb.test.cl.TestTruncate"/>
         </classes>
   </test>
</suite>
   