<div style="padding:10px 15px;" ng-controller="Monitor.HostList.Index.Ctrl" ng-container="{}">
   <div style="border-bottom:3px solid #ddd;padding-top:10px;" ng-container="{height:70}">
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-cubes"></i>
         </div>
         <div style="height:50px;float:left;max-width:200px;">
            <div style="font-size:90%;">集群</div>
            <div class="Ellipsis" style="font-size:140%;color:#666;width:160px;"><a href="#/Deploy/Index" class="linkButton">{{clusterName}}</a></div>
         </div>
         <div class="clear-float"></div>
      </div>
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-tasks"></i>
         </div>
         <div style="height:50px;float:left;max-width:200px;">
            <div style="font-size:90%;">{{moduleType}}</div>
            <div class="Ellipsis" style="font-size:140%;width:160px;"><a href="#/Monitor/Index" class="linkButton">{{moduleName}}</a></div>
         </div>
         <div class="clear-float"></div>
      </div>
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-laptop"></i>
         </div>
         <div style="height:50px;float:left;">
            <div style="font-size:90%;">主机数</div>
            <div class="Ellipsis" style="font-size:140%;width:160px;"><a href="#/Monitor/Host-List/Index" class="linkButton">48</a></div>
            <div class="clear-float"></div>
         </div>
      </div>
      <div class="clear-float"></div>
   </div>
   
   <div class="underlineTab" ng-container="{height:40,marginTop:10}">
      <ul class="left">
         <li class="active">
            <a href="#/Monitor/Host-List/Index" class="ng-binding">{{autoLanguage("主机列表")}}</a>
         </li>
         <li>
            <a href="#/Monitor/Host-List/Charts" class="ng-binding">{{autoLanguage("图表")}}</a>
         </li>
         <li style="float:right;width:250px;padding:0;">
            <input type="text" class="form-control" ng-attr="{'data-desc':'用于快速搜索主机，例：Ubuntu-1201'}" ng-model="SearchName['Host']" ng-change="change()" />
         </li>
         <li style="float:right;">搜索：</li>
      </ul>
   </div>
   <div ng-container="{marginTop:10,marginBottom:10,height:40}">
      <div class="result success Ellipsis" style="height:38px;">
         所有主机运行正常。
      </div>
   </div>
   <div ng-container="{offsetY:-220,marginTop:15}">
      <div class="Grid" style="border-bottom:1px solid #E3E7E8;" ng-grid="HostListOptions" ng-container="{marginTop:10}">
         <div class="GridHeader">
            <div class="GridTr">
               <div class="GridTd Ellipsis">{{autoLanguage("主机名")}}</div>
               <div class="GridTd Ellipsis">{{autoLanguage("IP地址")}}</div>
               <div class="GridTd Ellipsis">{{autoLanguage("磁盘")}}</div>
               <div class="GridTd Ellipsis">{{autoLanguage("内存")}}</div>
               <div class="GridTd Ellipsis">{{autoLanguage("操作系统")}}</div>
               <div class="GridTd Ellipsis">{{autoLanguage("CPU")}}</div>
               <div class="GridTd Ellipsis">{{autoLanguage("网卡数")}}</div>
               <div class="clear-float"></div>
            </div>
         </div>
         <div class="GridBody">
            <div class="GridTr" ng-repeat="hostInfo in HostList track by $index" ng-hide="hostInfo['show'] == false">
               <div class="GridTd Ellipsis" style="word-break:break-all;">
                  <a href="#/Monitor/Host-Info/Index" class="linkButton">{{hostInfo['HostName']}}</a>
               </div>
               <div class="GridTd Ellipsis" style="word-break:break-all;">
                  {{hostInfo['IPAddress']}}
               </div>
               <div class="GridTd Ellipsis" style="word-break:break-all;">
                  {{hostInfo['Disk']}}
               </div>
               <div class="GridTd Ellipsis" style="word-break:break-all;">
                  {{hostInfo['Memory']}}
               </div>
               <div class="GridTd Ellipsis" style="word-break:break-all;">
                  {{hostInfo['OS']}}
               </div>
               <div class="GridTd Ellipsis" style="word-break:break-all;">
                  {{hostInfo['CPU']}}
               </div>
               <div class="GridTd Ellipsis" style="word-break:break-all;">
                  {{hostInfo['NetworkCard']}}
               </div>
               <div class="clear-float"></div>
            </div>
         </div>
      </div>
      <div class="GridTool">
         <div class="ToolLeft">
            <span>{{HostGridTool}}</span>
         </div>
      </div>
            <!--<div style="height:auto;" ng-container="{offsetY:-10}">
               <div create-grid="GridData" ng-container="{offsetY:-10,marginTop:10}"></div>
            </div>-->
   </div>
</div>
