<div ng-controller="Monitor.SdbOverview.Index.Ctrl" ng-container="{}">
   <div style="background:#F4F4F4;" ng-container="{height:57}">
      <div class="nav-new">
         <div class="active" ng-click="GotoNodes()">节点</div>
         <div ng-click="GotoResource()">资源</div>
         <div ng-click="GotoHosts()">主机</div>
         <div ng-click="GotoUser()">安全</div>
      </div>
   </div>
   <div style="padding:8px 15px 10px 15px;" ng-container="{offsetY:-60}">
      <div class="underlineTab" style="padding-top:10px;border-top:2px solid #F0F0F0;" ng-container="{height:50,marginTop:10}">
         <ul class="left">
            <li class="active">
               <a href="#/Monitor/SDB-Nodes/Groups">{{autoLanguage("分区组列表")}}</a>
            </li>
            <li>
               <a href="#/Monitor/SDB-Nodes/Nodes">{{autoLanguage("节点列表")}}</a>
            </li>
            <li>
               <a href="#/Monitor/SDB-Nodes/Charts">{{autoLanguage("图表")}}</a>
            </li>
         </ul>
      </div>

      <div ng-container="{height:30,marginTop:10}">
         <button class="btn btn-default" ng-click="addGroup()">{{autoLanguage("创建分区组")}}</button>
         <button class="btn btn-default" ng-click="deleteGroup()">{{autoLanguage("删除分区组")}}</button>
         <button class="btn btn-default" ng-click="startGroup()">{{autoLanguage("启动分区组")}}</button>
         <button class="btn btn-default" ng-click="stopGroup()">{{autoLanguage("停止分区组")}}</button>
      </div>

      <div ng-container="{marginTop:10,marginBottom:10,height:40}">
         <div class="result success Ellipsis" style="height:38px;">
            2016-09-15 15:59 - 节点正常运行中
         </div>
      </div>
      <div ng-container="{offsetY:-170,marginTop:10}">
         <div style="float:left;" ng-container="{width:270}">
            <div ng-container="{height:'50%',offsetY:-5}">
               <div class="Ellipsis" style="height:25px;font-weight:bold;font-size:100%;">{{autoLanguage("协调组")}}</div>
               <div style="border:1px solid #ddd;padding:10px;overflow-y:auto;font-size:90%;" ng-container="{offsetY:-25}">
                  <div>
                     <table class="table">
                        <tr>
                           <td style="width:75px;font-weight:bold;">{{autoLanguage("状态")}}</td>
                           <td class="Ellipsis" ng-repeat="groupInfo in GroupList track by $index" ng-if="groupInfo['Role'] == 1">
                              <div ng-if="groupInfo['Status'] == '1'">
                                 <i class="fa fa-circle" style="color:#00CC66;" ng-attr="{'data-desc':autoLanguage('正常运行')}"></i>&nbsp;{{autoLanguage("正常运行")}}
                              </div>
                              <div ng-if="groupInfo['Status'] == '0'">
                                 <i class="fa fa-circle" style="color:#F9A937;" ng-attr="{'data-desc':autoLanguage('分区组未激活')}"></i>&nbsp;{{autoLanguage("分区组未激活")}}
                              </div>
                           </td>
                        </tr>
                     </table>
                  </div>
                  <div style="margin-top:10px;">
                     <table class="table">
                        <tr>
                           <td style="width:75px;font-weight:bold;">{{autoLanguage("分区组")}}</td>
                           <td class="Ellipsis" ng-repeat="groupInfo in GroupList track by $index" ng-if="groupInfo['Role'] == 1">
                              <span class="linkButton" ng-click="GotoGroup( groupInfo['GroupName'] )">
                                 {{groupInfo['GroupName']}}
                              </span>
                           </td>
                        </tr>
                     </table>
                  </div>
                  <div style="margin-top:10px;">
                     <table class="table">
                        <tr>
                           <td style="width:75px;font-weight:bold;">{{autoLanguage("节点数")}}</td>
                           <td class="Ellipsis" ng-repeat="groupInfo in GroupList track by $index" ng-if="groupInfo['Role'] == 1">
                              {{groupInfo['Group'].length}}
                           </td>
                        </tr>
                     </table>
                  </div>
                  <div style="margin-top:10px;">
                     <table class="table">
                        <tr>
                           <td style="width:75px;font-weight:bold;">{{autoLanguage("连接数")}}</td>
                           <td class="Ellipsis">{{CoordInfo[0]['TotalNumConnects']}}</td>
                        </tr>
                     </table>
                  </div>

               </div>
            </div>
            <div ng-container="{height:'50%',offsetY:-5,marginTop:10}">
               <div class="Ellipsis" style="height:25px;font-weight:bold;font-size:100%;">{{autoLanguage("编目组")}}</div>
               <div style="border:1px solid #ddd;padding:10px;overflow-y:auto;font-size:90%;" ng-container="{offsetY:-25}">
                  <div>
                     <table class="table">
                        <tr>
                           <td style="width:75px;font-weight:bold;">{{autoLanguage("状态")}}</td>
                           <td class="Ellipsis" ng-repeat="groupInfo in GroupList track by $index" ng-if="groupInfo['Role'] == 2">
                              <div ng-if="groupInfo['Status'] == '1'">
                                 <i class="fa fa-circle" style="color:#00CC66;" ng-attr="{'data-desc':autoLanguage('正常运行')}"></i>&nbsp;{{autoLanguage("正常运行")}}
                              </div>
                              <div ng-if="groupInfo['Status'] == '0'">
                                 <i class="fa fa-circle" style="color:#F9A937;" ng-attr="{'data-desc':autoLanguage('分区组未激活')}"></i>&nbsp;{{autoLanguage("分区组未激活")}}
                              </div>
                           </td>
                        </tr>
                     </table>
                  </div>
                  <div style="margin-top:10px;">
                     <table class="table">
                        <tr>
                           <td style="width:75px;font-weight:bold;">{{autoLanguage("分区组")}}</td>
                           <td class="Ellipsis" ng-repeat="groupInfo in GroupList track by $index" ng-if="groupInfo['Role'] == 2">
                              <span class="linkButton" ng-click="GotoGroup( groupInfo['GroupName'] )">
                                 {{groupInfo['GroupName']}}
                              </span>
                           </td>
                        </tr>
                     </table>
                  </div>
                  <div style="margin-top:10px;">
                     <table class="table">
                        <tr>
                           <td style="width:75px;font-weight:bold;">{{autoLanguage("节点数")}}</td>
                           <td class="Ellipsis" ng-repeat="groupInfo in GroupList track by $index" ng-if="groupInfo['Role'] == 2">
                              {{groupInfo['Group'].length}}
                           </td>
                        </tr>
                     </table>
                  </div>
                  <div style="margin-top:10px;">
                     <table class="table">
                        <tr>
                           <td style="width:75px;font-weight:bold;">{{autoLanguage("主节点")}}</td>
                           <td class="Ellipsis" ng-repeat="groupInfo in GroupList track by $index" ng-if="groupInfo['Role'] == 2">
                              <span class="linkButton" ng-click="GotoNode( nodeInfo['HostName'], nodeInfo['Service'][0]['Name'] )" ng-repeat="nodeInfo in groupInfo['Group'] track by $index" ng-if="nodeInfo['NodeID']==groupInfo['PrimaryNode']">
                                 {{nodeInfo['HostName']}}:{{nodeInfo['Service'][0]['Name']}}
                              </span>
                           </td>
                        </tr>
                     </table>
                  </div>
               </div>
            </div>
         </div>
         <div style="float:left;" ng-container="{offsetX:-280,marginLeft:10}">
            <div class="Ellipsis" style="height:25px;font-weight:bold;font-size:100%;">{{autoLanguage("数据组")}}</div>
            <div class="Grid2" ng-grid2="GroupGridOptions" ng-container="{offsetY:-56}">
               <div class="Grid2Header">
                  <table>
                     <colgroup>
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                     </colgroup>
                     <tbody>
                        <tr>
                           <td>
                              <div class="Ellipsis">{{autoLanguage("状态")}}</div>
                           </td>
                           <td>
                              <div class="Ellipsis">{{autoLanguage("分区组名")}}</div>
                           </td>
                           <td>
                              <div class="Ellipsis">{{autoLanguage("节点数")}}</div>
                           </td>
                           <td>
                              <div class="Ellipsis">{{autoLanguage("主节点")}}</div>
                           </td>
                           <td>
                              <div class="Ellipsis">{{autoLanguage("集合数")}}</div>
                           </td>
                           <td>
                              <div class="Ellipsis">{{autoLanguage("记录数")}}</div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div class="Grid2Body">
                  <table>
                     <colgroup>
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                     </colgroup>
                     <tbody>
                        <tr ng-repeat="groupInfo in GroupList | orderBy:OrderByField" ng-if="groupInfo['Role'] == 0">
                           <td>
                              <div class="Ellipsis">
                                 <i class="fa fa-circle" style="color:#00CC66;" ng-if="groupInfo['Status'] == '1'" ng-attr="{'data-desc':autoLanguage('正常运行')}"></i>
                                 <i class="fa fa-circle" style="color:#F9A937;" ng-if="groupInfo['Status'] == '0'" ng-attr="{'data-desc':autoLanguage('分区组未激活')}"></i>
                              </div>
                           </td>
                           <td>
                              <div class="Ellipsis">
                                 <span class="linkButton" ng-click="GotoGroup( groupInfo['GroupName'] )">{{groupInfo['GroupName']}}</span>
                              </div>
                           </td>
                           <td>
                              <div class="Ellipsis">
                                 <span>{{groupInfo['Group'].length}}</span>
                              </div>
                           </td>
                           <td>
                              <div class="Ellipsis">
                                 <span class="linkButton" ng-click="GotoNode( nodeInfo['HostName'], nodeInfo['Service'][0]['Name'] )" ng-repeat="nodeInfo in groupInfo['Group'] track by $index" ng-if="nodeInfo['NodeID']==groupInfo['PrimaryNode']">
                                    {{nodeInfo['HostName']}}:{{nodeInfo['Service'][0]['Name']}}
                                 </span>
                                 <span ng-if="groupInfo['Group'].length == 0">none</span>
                              </div>
                           </td>
                           <td>
                              <div class="Ellipsis">
                                 <span>{{groupInfo['TotalCL']}}</span>
                              </div>
                           </td>
                           <td>
                              <div class="Ellipsis">
                                 <span>{{groupInfo['TotalRecords']}}</span>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="GridTool">
               <div class="ToolLeft" ng-cloak>
                  <span>{{sprintf(autoLanguage("一共 ? 个数据组"), DatagroupNum)}}</span>
               </div>
            </div>
         </div>

         <div class="clear-float"></div>
      </div>
   </div>


</div>